/* All */

* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  width: 100%;
}

/* Header */

header .logo-header {
  height: 60px;
  width: 100%;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main */

main {
  width: 100%;
}

/* Home */

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  background-image: url('../images/bg-1.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .h-t-1 {
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: 125%;
  color: #35353b;
}
#home .h-t-2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #35353b;
}
#home .h-t-3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #35353b;
}
#home .h-t-4 {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  color: #35353b;
}

#home .btn-quero-matricular {
  border-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  width: 278px;
  height: 62px;
  padding: 16px;
  background: #9f4079;
  box-shadow: 0px 10px 15px rgba(49, 5, 55, 0.1),
    0px 4px 6px rgba(49, 5, 55, 0.05);
  border-radius: 4px;
}

#home .h-t-5 {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 125%;
  color: #35353b;
}

#home .video1 {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#home .video1 img {
  width: 80%;
}

#home .btn-quero-ser-melhor {
  border-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  width: 336px;
  height: 62px;
  left: -9px;
  top: 926.24px;
  background: #9f4079;
  box-shadow: 0px 10px 15px rgba(49, 5, 55, 0.1),
    0px 4px 6px rgba(49, 5, 55, 0.05);
  border-radius: 4px;
}

/* About */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  background-image: url('../images/bg-2.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#about .h-t-1 {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #ffffff;
}
#about .h-t-2 {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: #ffffff;
}
#about .h-t-3 {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
#about .h-t-4 {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

#about .modulos {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .modulos .modulo {
  width: 318px;
  height: 642px;
  padding: 20px;

  background: #ffffff;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

#about .modulos .modulo .h-t-1-1 {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #a6a6ab;
}
#about .modulos .modulo .h-t-1-2 {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #35353b;
}
#about .modulos .modulo .h-t-1-3 {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: #35353b;
}

#about .btn-quero-matricular-2 {
  border-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  width: 278px;
  height: 62px;
  background: #9f4079;
  box-shadow: 0px 10px 15px rgba(49, 5, 55, 0.1),
    0px 4px 6px rgba(49, 5, 55, 0.05);
  border-radius: 4px;
}

/* Black Friday */

#black-friday {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#black-friday .h-t-1 {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #35353b;
}

#black-friday .price-1 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 318px;
  height: 314px;
  background: #ffffff;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

#black-friday .price-1 .price-1-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#black-friday .h-t-2 {
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #ea7ea4;
}

#black-friday .h-t-3 {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: #35353b;
}

#black-friday .btn-comprar-agora {
  border-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  width: 221px;
  height: 62px;
  background: #9f4079;
  box-shadow: 0px 10px 15px rgba(49, 5, 55, 0.1),
    0px 4px 6px rgba(49, 5, 55, 0.05);
  border-radius: 4px;
}

#black-friday .pagamentos .pagamentos-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  max-width: 620px;
}

#black-friday .pagamentos .pagamentos-content img {
  height: 40px;
}

/* Who Course */

#who-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#who-course img {
  width: 300px;
  height: 270px;
  margin: 10px;

  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

#who-course .h-t-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #35353b;
}
#who-course .h-t-2 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #35353b;
}
#who-course .h-t-3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #35353b;
}

#who-course .btn-realizar-matricula {
  border-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  width: 259px;
  height: 92px;
  background: #9f4079;
  box-shadow: 0px 10px 15px rgba(49, 5, 55, 0.1),
    0px 4px 6px rgba(49, 5, 55, 0.05);
  border-radius: 4px;
}

/* How course */

#how-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#how-course .h-t-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #35353b;
}

#how-course .h-t-2 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #35353b;
}

#how-course .vantagens {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 350px;

  background-image: url('../images/bg-3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#how-course .vantagens .vantagens-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 10px;
  padding: 32px;
  width: 320px;
  height: 250px;

  background: #ffffff;

  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

#how-course .btn-comprar-agora {
  border-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  width: 221px;
  height: 62px;
  background: #9f4079;
  box-shadow: 0px 10px 15px rgba(49, 5, 55, 0.1),
    0px 4px 6px rgba(49, 5, 55, 0.05);
  border-radius: 4px;
}

/* Workers */

#workers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#workers .h-t-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #35353b;
}
#workers .h-t-2 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #35353b;
}
#workers .h-t-3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #a6a6ab;
}

#workers .especialistas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  height: 310px;
  margin-top: 50px;

  background-image: url('../images/bg-4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#workers .especialistas .especialistas-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  padding-top: 80px;

  width: 226px;
  height: 243px;
  background: #ffffff;

  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 16px;

  position: relative;
}

#workers .especialistas .especialistas-content img {
  position: absolute;
  top: -75px;

  width: 150px;
  height: 150px;
}

/* Preview */

#preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#preview .preview-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 400px;
}

#preview .h-t-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #35353b;
}
#preview .h-t-2 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #35353b;
}
#preview .h-t-3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #35353b;
}

#preview .videos-preview {
  width: 90%;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.04);
}

#rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#rating .h-t-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #35353b;
}

#rating .rating-videos {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 400px;
}

#rating .rating-videos img {
  width: 90%;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.04);
}
